@model IEnumerable<Proyecto_2_HTML.Modelos.Equipo>

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @if (Session["Rol"] != null && Session["Rol"].ToString() == "admin")
    {
        <p>
            @Html.ActionLink("Registrar Nuevo Equipo", "Crear", null, new { @class = "btn btn-success" })
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioID)
                </td>
                <td>
                    @if (Session["Rol"] != null && Session["Rol"].ToString() == "admin")
                    {
                        @Html.ActionLink("Editar", "Editar", new { id = item.EquipoID }, new { @class = "btn btn-warning btn-sm" })
                        <span> | </span>
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.EquipoID }, new { @class = "btn btn-danger btn-sm" })
                    }
                </td>
            </tr>
        }

    </table>
</body>
</html>
